<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing Up !!!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/basic.js' %}"></script>
    <script>
        const csrftoken = getCookie('csrftoken');
        function submit() {
            $.post(
                "{% url 'home:checkNewUser' %}",
                {
                    "username": document.getElementById("username").value,
                    "password": document.getElementById("password").value
                },
                function(data, status) {
                    if (status == "success") {
                        if (data != "True") {
                            document.getElementById("results").innerHTML = data;
                        } else {
                            window.location.replace("{% url 'home:accountData' %}");
                        }
                    } 
                }
            )
        }
        $(
            function() {
                sendByEnter(document.getElementById("password"), submit);
            }
        );
    </script>
</head>
<body>
    <h1>Sing Up</h1>

    <form action="">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
    </form>
    <input type="checkbox" onclick="showPassword()">Show Password 
    <br>
    <button type="button" onclick="submit()">submit</button>
    <p id="results" style="color: red;"></p>
    
</body>
</html>